<% if flash[:logged_out] %>
  <div class="rel_nav_right">
    <%= flash.now[:logged_out] %>
  <hr class="hr_color">
  </div>
<% end %>

<p id="static_text">
  bizrev
  <%= tag.span id: 'vertbar_1' %>
  <%= tag.span id: 'vertbar_2' %>
  <%= tag.span id: 'vertbar_3' %>
</p>
