<% if flash[:logged_out] %>
  <div class="alert_align1 alert_align6">
    <h2><%= flash.now[:logged_out] %></h2>
  <hr class="hr_color">
  </div>
<% end %>

<p id="static_text">
  bizrev
  <%= tag.span id: 'vertbar_1' %>
  <%= tag.span id: 'vertbar_2' %>
  <%= tag.span id: 'vertbar_3' %>
</p>
