

<div class="test test_3">
  <p><h2>Add Biz to Bizlist</h2></p><span id="vert"></span>
    <%= form_for [user, bizlist] do |f| %>
    <%= f.collection_select :add_to, Business.all, :id, :name %>
      <%= f.submit %>
    <% end %>
</div>
