<div class="test test_2">
  <h2 class="text_alignment text_alignment_2">Remove Biz from Bizlist</h2><span id="vert"></span>
  <%= form_for [user, bizlist] do |f| %>
  <%= f.collection_select :remove_from, bizlist.businesses, :id, :name %>
    <%= f.submit %>
  <% end %>
</div>
