<div class="test test_3">
  <p><h2>Remove Biz from Bizlist</h2></p><span id="vert"></span>
  <%= form_for [user, bizlist] do |f| %>
  <%= f.collection_select :remove_from, bizlist.businesses, :id, :name %>
    <%= f.submit %>
  <% end %>
</div>
