
<%= render 'common/user_nav' %>

<span class="rel_nav_right">Welcome <%= @username %></span>

<div class="row">
  <div class="col">No content to display at this time.</div>
  <span id="vertbar_4"></span>
  <div class="col">No content to display at this time.</div>
</div>
