
<%= render 'common/user_nav' %>


<div class="row">
  <div class="col sidebar">
  <% if @bizlists.count == 0 %>
    <div class="flex_header">
      My Bizlists
    </div>
      <hr>
    <div>
      Select Create List from the menu to add your favorite businesses.
    </div>
  <% else %>
  <div class="flex_header">
    My Bizlists
  </div>
  <hr class="hr_style">
    <br>
  <% if flash[:message] %>
    <div class="alert_align4">
      <h2><%= flash[:message] %></h2>
      <br>
      <hr class="hr_color">
    </div>
  <% end %>
    <% @bizlists.reverse.each do |bizlist| %>
          <br><div>Name:&nbsp<%= link_to bizlist.name, user_bizlist_path(current_user, bizlist) %></div><br><div>Description:&nbsp<%= bizlist.description %></div><br><hr>
    <% end %>
  <% end %>
  </div>
  <div class="col mainbar">
    <div class="flex_header">
      My Content
    </div>
      <hr class="hr_style">
    <div>
      <br>
      No content to display at this time. Select Create List from the menu to add your favorite businesses.
    </div>
  </div>
</div>
