
<%= render 'common/user_nav' %>


<div class="row">
  <div class="col sidebar">
  <% if @bizlists.count == 0 %>
    <div class="flex_header">
      My Bizlists
    </div>
      <hr>
    <div class="flex_footer">
      No content to display at this time. Select Create List from the menu to add your favorite businesses.
    </div>
  <% else %>
    <% (@bizlists).each do |bizlist| %>
          <%= link_to bizlist.name, user_bizlist_path(current_user, bizlist) %>
          <%= bizlist.description %>
    <% end %>
  <% end %>
  </div>
  <!--<span id="vertbar_4"></span>-->
  <div class="col mainbar">
    <div class="flex_header">
      My Content
    </div>
      <hr>
    <div>
      No content to display at this time. Select Create List from the menu to add your favorite businesses.
    </div>
  </div>
</div>
