<%= render 'common/user_nav' %>

<div class="test">
  <div class="biz_align">
    <%= render 'common/bizlist_show_menu' %>
  </div>
   <span id="vert"></span>
   <div class="biz_align_1">
     <h1><%= @bizlist.name %></h1><hr>
     <p><%= @bizlist.description %></p>
   </div>
</div>
