/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');

#vertbar_1 {
  border-left:1px solid #0000FF;
  height: 1.0em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

#vertbar_2 {
  border-left:1px solid #0000FF;
  height: 1.3em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

#vertbar_3 {
  border-left:1px solid #0000FF;
  height: 1.8em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

p {
  height: 50%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 4.5em;
}

body
{
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

a
{
  text-decoration: none;
  color: #000000;

  transition: color 0.3s ease;
}

a:hover
{
  color: #0000FF;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 2.6em;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #0000FF;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #000000;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 125px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 150px;
  padding-right: 15%;
  padding-bottom: 100%;
  background: #F5F5F5;
  opacity: 0.8;
  border-right:1px solid #0000FF;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 15px 0;
  font-size: 2.0em;
  font-weight: 600;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#vert
{
 border-left:2px solid #0000FF;
 height: 20.0em;
 margin-left: 1.0em;
 margin-right: 1.0em;
}

.rel {
  position: relative;
  left: 100px;
  top: 10px;
  font-size: 1.7em;
}

.rel_nav_right {
  float:right;
  position: relative;
  right: 50px;
  top: 11px;
  font-size: 1.7em;
}

.test {
  height: 80%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0em;}
