/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');

#vertbar_1 {
  border-left:2px solid #0000FF;
  height: 1.0em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

#vertbar_2 {
  border-left:3px solid #0000FF;
  height: 1.3em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

#vertbar_3 {
  border-left:4px solid #0000FF;
  height: 1.8em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

#vertbar_4
{
  border-left:2px solid #0000FF;
  height: 30em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  position: absolute;
  left: 50%;
  top: 15%;
}


body
{
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

a
{
  text-decoration: none;
  color: #000000;

  transition: color 0.3s ease;
}

a:hover
{
  color: #0000FF;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 2.6em;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #0000FF;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #000000;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 125px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 150px;
  padding-right: 5%;
  padding-bottom: 100%;
  background: #F5F5F5;
  opacity: 0.8;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 15px 0;
  font-size: 1.5em;
  font-weight: bold;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#static_text {
  height: 50%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 4.5em;
}

#vert
{
 border-left:2px solid #0000FF;
 height: 37em;
 margin-left: 1.0em;
 margin-right: 1.0em;
}

.alert_align1 {
  font-size: 10px;
  top: 0px;
  left: 50%;
  margin-left: 42px;
  text-align: left;
  position: absolute;

  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari + Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.alert_align2 {
  font-size: 11px;
  top: 0px;
  left: 50%;
  margin-left: 30px;
  text-align: left;
  position: absolute;

  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari + Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  margin: 40px;
  padding: 0.5rem;
  line-height: 1.3;
  background: #FFFFFF;
  height: 450px;
  font-size: 18px;
  font-weight: bold;
  overflow-y: auto;
}

.sidebar {
  flex: 1;
}

.mainbar {
  flex: 5;
}

.flex_header {
  align-self: flex-start;
  font-size: 28px;
}


.hr_color
{
  border: 1px solid #0000FF;
}

.hr_style
{
  border: 2px solid #2F4F4F;
}

.rel {
  position: relative;
  left: 100px;
  top: 12px;
  font-size: 1.4em;
  font-weight: bold;
}

.rel_nav_right {
  float:right;
  position: relative;
  right: 45px;
  top: 13px;
  font-size: 1.4em;
  font-weight: bold;
}

.test {
  height: 80%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0em;
  font-weight: bold;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
