<div class="add-button">
  <div class="sub-button tl"></div>
  <div><%= link_to "add", user_bizlists_path(current_user), :method => "get", class: "sub-button tl" %></div>
  <div><%= link_to "logout", logout_path, :method => "get", class: "sub-button tr" %></div>
  <div><%= link_to "edit", edit_business_path(@business), :method => "get", class: "sub-button bl" %></div>
  <div><%= link_to "index", user_bizlists_path(current_user), :method => "get", class: "sub-button br" %></div>
</div>
