<!DOCTYPE html>

<html>
  <head>

      <title>Project Title</title>
      <%= stylesheet_link_tag 'application' %>

  </head>

  <body>

    <ul>
      <li id="navRight""><a class="active" href="#about">Sign up</a></li>
    </ul>
    
    <nav role="navigation">

      <div id="menuToggle">

        <input type="checkbox" />

          <span></span>
          <span></span>
          <span></span>

        <ul id="menu">
          <a href="#"><li>Home</li></a>
          <a href="#"><li>About</li></a>
          <a href="#"><li>Info</li></a>
          <a href="#"><li>Contact</li></a>
        </ul>
      </div>
    </nav>

    <%= yield %>

  </body>

</html>
